Speed-To-Lead/scenario-3-lost-lead-recovery.json
{
    "name": "[Client] - Butter Code Speed-To-Lead™ — Lost Lead Recovery",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:searchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": null
            },
            "mapper": {
                "mode": "select",
                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                "sheetId": "Leads",
                "tableFirstRow": "A1:O1",
                "limit": 50,
                "filter": [
                    [
                        {
                            "a": "{{1.Status}}",
                            "b": "CLOSED",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "label": "Leads"
                        },
                        "sheetId": {
                            "label": "Leads"
                        }
                    }
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "util:SetMultipleVariables2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "days_since_close",
                        "value": "{{floor((toNumber(formatDate(now; \"X\")) - toNumber(formatDate(parseDate(2.`Last Contacted`; \"YYYY-MM-DD HH:mm\"); \"X\"))) / 86400)}}"
                    },
                    {
                        "name": "first_name",
                        "value": "{{if(contains(2.`Full Name`; \" \"); trim(substring(2.`Full Name`; 0; indexOf(2.`Full Name`; \" \"))); trim(2.`Full Name`))}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "60-90 Day Re-engagement",
                    "flow": [
                        {
                            "id": 5,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "closed 60-90 days ago",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.days_since_close}}",
                                            "b": "60",
                                            "o": "number:greaterequal"
                                        },
                                        {
                                            "a": "{{3.days_since_close}}",
                                            "b": "90",
                                            "o": "number:lessequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.Email}}"
                                ],
                                "subject": "Still looking for {{2.`Service Interest`}}, {{3.first_name}}?",
                                "html": "<p>Hi {{3.first_name}},</p><p>It's been a little while since you enquired about <strong>{{2.`Service Interest`}}</strong> — I just wanted to check in and see if you're still looking.</p><p>Sometimes timing is everything. If the moment's right now, I'd love to help. No pressure either way.</p><p>Just reply to this email and we'll pick things up from there.</p><p>Best,<br>[OWNER NAME]<br>[BUSINESS NAME]<br>[PHONE NUMBER / WHATSAPP NUMBER]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Leads",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "RE-ENGAGED",
                                    "Last Contacted": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                                    "Next Follow-up": "{{formatDate(addDays(now; 1); \"YYYY-MM-DD\")}}",
                                    "Follow-up Count": "0",
                                    "Notes": "{{2.Notes}} | Lost lead re-engagement sent {{formatDate(now; \"YYYY-MM-DD\")}} ({{3.days_since_close}} days since last contact)"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "label": "Leads"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "scheduling": {
            "type": "indefinitely",
            "interval": 129600
        },
        "notes": [
            "Butter Code Speed-To-Lead™ V2 — Scenario 3 of 3.",
            "FREE STACK: Google Sheets + Gmail only. Default schedule is every 90 days (129,600 minutes). Alternatively run this manually once per quarter — either approach uses minimal operations.",
            "PURPOSE: Re-engages leads that went CLOSED 60-90 days ago. A soft check-in often converts leads that weren't ready the first time. This is essentially free revenue recovery.",
            "After the re-engagement email fires, the lead is set to Status=RE-ENGAGED and Follow-up Count=0. The daily Follow-up Engine (Scenario 2) will then pick it up and restart the nurture sequence from Day 1.",
            "Replace REPLACE_WITH_SPREADSHEET_ID with the same sheet used in Scenarios 1 and 2.",
            "tableFirstRow is A1:O1 (15 columns matching V2 Leads sheet).",
            "2.__IMTROWNUM__ is Make.com's standard row reference. Re-map if needed from module 2's output in the UI."
        ]
    }
}
