Speed-To-Lead/scenario-2-follow-up-engine.json
{
    "name": "[Client] - Butter Code Speed-To-Lead™ — Follow-up Engine",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:searchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": null
            },
            "mapper": {
                "mode": "select",
                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                "sheetId": "Leads",
                "tableFirstRow": "A1:O1",
                "limit": 50,
                "filter": [
                    [
                        {
                            "a": "{{1.Status}}",
                            "b": "WON",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{1.Status}}",
                            "b": "CLOSED",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{1.`Next Follow-up`}}",
                            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                            "o": "date:lessequal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "label": "Leads"
                        },
                        "sheetId": {
                            "label": "Leads"
                        }
                    }
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "util:SetMultipleVariables2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "follow_up_count",
                        "value": "{{if(isEmpty(2.`Follow-up Count`); 0; toNumber(2.`Follow-up Count`))}}"
                    },
                    {
                        "name": "first_name",
                        "value": "{{if(contains(2.`Full Name`; \" \"); trim(substring(2.`Full Name`; 0; indexOf(2.`Full Name`; \" \"))); trim(2.`Full Name`))}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "Day 1 Follow-up",
                    "flow": [
                        {
                            "id": 5,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "follow_up_count = 0",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.follow_up_count}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.Email}}"
                                ],
                                "subject": "Following up on your enquiry, {{3.first_name}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>Just checking in — did you get a chance to look at our previous message about your enquiry regarding <strong>{{2.`Service Interest`}}</strong>?</p><p>Happy to help with a quick quote or answer any questions whenever you're ready. Just reply to this email.</p><p>Best,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -500
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Leads",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "CONTACTED",
                                    "Last Contacted": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                                    "Next Follow-up": "{{formatDate(addDays(now; 2); \"YYYY-MM-DD\")}}",
                                    "Follow-up Count": "1",
                                    "Notes": "{{2.Notes}} | Day 1 follow-up sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -500
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "label": "Leads"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Day 3 Follow-up",
                    "flow": [
                        {
                            "id": 7,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "follow_up_count = 1",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.follow_up_count}}",
                                            "b": "1",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.Email}}"
                                ],
                                "subject": "Still interested in {{2.`Service Interest`}}, {{3.first_name}}?",
                                "html": "<p>Hi {{3.first_name}},</p><p>Would you still like to move forward with <strong>{{2.`Service Interest`}}</strong>? We can put together options quickly — just reply to this email or give us a call.</p><p>Best,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -250
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Leads",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Last Contacted": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                                    "Next Follow-up": "{{formatDate(addDays(now; 4); \"YYYY-MM-DD\")}}",
                                    "Follow-up Count": "2",
                                    "Notes": "{{2.Notes}} | Day 3 follow-up sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -250
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "label": "Leads"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Day 7 Follow-up",
                    "flow": [
                        {
                            "id": 9,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "follow_up_count = 2",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.follow_up_count}}",
                                            "b": "2",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.Email}}"
                                ],
                                "subject": "Quick check-in re: {{2.`Service Interest`}}, {{3.first_name}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>Just a quick check-in on your interest in <strong>{{2.`Service Interest`}}</strong>. Sometimes timing just isn't right — no pressure at all.</p><p>If you'd like to revisit this, we're here. Reply whenever suits you.</p><p>Best,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 10,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Leads",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Last Contacted": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                                    "Next Follow-up": "{{formatDate(addDays(now; 7); \"YYYY-MM-DD\")}}",
                                    "Follow-up Count": "3",
                                    "Notes": "{{2.Notes}} | Day 7 follow-up sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "label": "Leads"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Day 14 Follow-up",
                    "flow": [
                        {
                            "id": 11,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "follow_up_count = 3",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.follow_up_count}}",
                                            "b": "3",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.Email}}"
                                ],
                                "subject": "Before I close your file, {{3.first_name}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>I wanted to reach out one more time about your enquiry for <strong>{{2.`Service Interest`}}</strong>.</p><p>If now isn't the right time, that's completely fine — just let me know and I'll stop reaching out. But if you're still considering it and just haven't had a chance to reply, I'd love to help.</p><p>What would it take to move this forward?</p><p>Best,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 250
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Leads",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Last Contacted": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                                    "Next Follow-up": "{{formatDate(addDays(now; 16); \"YYYY-MM-DD\")}}",
                                    "Follow-up Count": "4",
                                    "Notes": "{{2.Notes}} | Day 14 follow-up sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 250
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "label": "Leads"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Day 30 Follow-up (Final)",
                    "flow": [
                        {
                            "id": 13,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "follow_up_count >= 4",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.follow_up_count}}",
                                            "b": "4",
                                            "o": "number:greaterequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.Email}}"
                                ],
                                "subject": "Closing your file, {{3.first_name}} — last message from me",
                                "html": "<p>Hi {{3.first_name}},</p><p>I've reached out a few times about <strong>{{2.`Service Interest`}}</strong> and haven't heard back, so I'll close this for now and stop following up.</p><p>If circumstances change and you'd like to revisit this down the line, don't hesitate to get back in touch — we'd love to help.</p><p>All the best,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 500
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Leads",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "CLOSED",
                                    "Last Contacted": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                                    "Follow-up Count": "5",
                                    "Notes": "{{2.Notes}} | Day 30 final follow-up sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}, lead closed (no response)"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 500
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Leads"
                                        },
                                        "sheetId": {
                                            "label": "Leads"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "scheduling": {
            "type": "indefinitely",
            "interval": 1440
        },
        "notes": [
            "Butter Code Speed-To-Lead™ V2 — Scenario 2 of 3.",
            "FREE STACK: Google Sheets + Gmail only. Set schedule to run once daily (e.g. 09:00 client's timezone) after import.",
            "5-STAGE SEQUENCE: Day 1 (count=0) → Day 3 (count=1) → Day 7 (count=2) → Day 14 (count=3) → Day 30 Final/CLOSED (count≥4). WON and CLOSED leads are excluded.",
            "Replace REPLACE_WITH_SPREADSHEET_ID with the same sheet used in Scenario 1. tableFirstRow is A1:O1 (15 columns — includes new Lead Tier column).",
            "To mark a lead as converted: owner sets Status = WON in the sheet. This stops all follow-ups.",
            "Leads closed by this engine (Day 30) are picked up by Scenario 3 (Lost Lead Recovery) after 60-90 days and re-engaged automatically.",
            "2.__IMTROWNUM__ is Make.com's standard row reference from Google Sheets searchRows. If your connector exposes it differently, re-map it in each Update Row module via the UI."
        ]
    }
}
