Speed-To-Lead/scenario-1-lead-capture.json
{
    "name": "[Client] - Butter Code Speed-To-Lead™ — Lead Capture",
    "flow": [
        {
            "id": 1,
            "module": "google-forms:watchResponses",
            "version": 1,
            "parameters": {
                "__IMTCONN__": null
            },
            "mapper": {
                "form": "REPLACE_WITH_FORM_ID"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        }
                    }
                }
            }
        },
        {
            "id": 2,
            "module": "util:SetMultipleVariables2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "lead_id",
                        "value": "LD-{{formatDate(now; \"YYMMDD\")}}-{{random(1000;9999)}}"
                    },
                    {
                        "name": "created_at",
                        "value": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                    },
                    {
                        "name": "first_name",
                        "value": "{{if(contains(1.`Full Name`; \" \"); trim(substring(1.`Full Name`; 0; indexOf(1.`Full Name`; \" \"))); trim(1.`Full Name`))}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "Hot Enquiry",
                    "flow": [
                        {
                            "id": 4,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "lead_score",
                                "scope": "roundtrip",
                                "value": "9"
                            },
                            "filter": {
                                "name": "Hot Keywords (urgent intent)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "urgent",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "today",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "asap",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "now",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "emergency",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "book",
                                            "o": "text:contains"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -250
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Warm Enquiry",
                    "flow": [
                        {
                            "id": 11,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "lead_score",
                                "scope": "roundtrip",
                                "value": "6"
                            },
                            "filter": {
                                "name": "Warm Keywords (research/consideration intent)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "price",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "quote",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "interested",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "looking",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "services",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "info",
                                            "o": "text:contains"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{lower(1.Message)}}",
                                            "b": "available",
                                            "o": "text:contains"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Cold Enquiry",
                    "flow": [
                        {
                            "id": 5,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "lead_score",
                                "scope": "roundtrip",
                                "value": "3"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 250
                                }
                            }
                        }
                    ]
                }
            ]
        },
        {
            "id": 6,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": null
            },
            "mapper": {
                "mode": "select",
                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                "sheetId": "Leads",
                "values": {
                    "Lead ID": "{{2.variables.lead_id}}",
                    "Timestamp": "{{2.variables.created_at}}",
                    "Full Name": "{{1.`Full Name`}}",
                    "Email": "{{1.Email}}",
                    "Phone": "{{1.Phone}}",
                    "Service Interest": "{{1.`Service Needed`}}",
                    "Message": "{{1.Message}}",
                    "Lead Score": "{{if(3.routeName = \"Hot Enquiry\"; 4.lead_score; if(3.routeName = \"Warm Enquiry\"; 11.lead_score; 5.lead_score))}}",
                    "Hot Lead": "{{if(3.routeName = \"Hot Enquiry\"; \"YES\"; \"NO\")}}",
                    "Lead Tier": "{{if(3.routeName = \"Hot Enquiry\"; \"Hot\"; if(3.routeName = \"Warm Enquiry\"; \"Warm\"; \"Cold\"))}}",
                    "Status": "NEW",
                    "Last Contacted": "{{2.variables.created_at}}",
                    "Next Follow-up": "{{formatDate(addDays(now; 1); \"YYYY-MM-DD\")}}",
                    "Follow-up Count": "0",
                    "Notes": ""
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "label": "Leads"
                        },
                        "sheetId": {
                            "label": "Leads"
                        }
                    }
                }
            }
        },
        {
            "id": 7,
            "module": "gmail:sendEmail",
            "version": 3,
            "parameters": {
                "account": null
            },
            "mapper": {
                "to": [
                    "{{1.Email}}"
                ],
                "subject": "Thanks for reaching out, {{2.variables.first_name}}! 👋",
                "html": "<p>Hi {{2.variables.first_name}},</p><p>Thanks for getting in touch with [BUSINESS NAME]!</p><p>We've received your enquiry about <strong>{{1.`Service Needed`}}</strong> and someone from our team will be in contact shortly.</p><p>In the meantime, here's a quick question: <strong>what timeline are you working with?</strong> Reply to this email and let us know — it helps us prioritise and get you the right information faster.</p><p>Talk soon,<br>[OWNER NAME]<br>[BUSINESS NAME]<br>[PHONE NUMBER / WHATSAPP NUMBER]</p>"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": -100
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Gmail connection"
                        }
                    }
                }
            }
        },
        {
            "id": 8,
            "module": "gmail:sendEmail",
            "version": 3,
            "parameters": {
                "account": null
            },
            "mapper": {
                "to": [
                    "[OWNER EMAIL ADDRESS]"
                ],
                "subject": "{{if(3.routeName = \"Hot Enquiry\"; \"🔥 HOT LEAD: \"; if(3.routeName = \"Warm Enquiry\"; \"🌡️ Warm Lead: \"; \"New Lead: \"))}}{{1.`Full Name`}} — {{1.`Service Needed`}}",
                "html": "<p><strong>New enquiry received{{if(3.routeName = \"Hot Enquiry\"; \" — HOT LEAD 🔥\"; if(3.routeName = \"Warm Enquiry\"; \" — Warm Lead\"; \"\"))}}</strong></p><ul><li><strong>Name:</strong> {{1.`Full Name`}}</li><li><strong>Email:</strong> {{1.Email}}</li><li><strong>Phone:</strong> {{1.Phone}}</li><li><strong>Service:</strong> {{1.`Service Needed`}}</li><li><strong>Message:</strong> {{1.Message}}</li><li><strong>Lead Tier:</strong> {{if(3.routeName = \"Hot Enquiry\"; \"Hot\"; if(3.routeName = \"Warm Enquiry\"; \"Warm\"; \"Cold\"))}}</li><li><strong>Lead Score:</strong> {{if(3.routeName = \"Hot Enquiry\"; 4.lead_score; if(3.routeName = \"Warm Enquiry\"; 11.lead_score; 5.lead_score))}}/10</li><li><strong>Lead ID:</strong> {{2.variables.lead_id}}</li></ul><p>An automatic acknowledgement has been sent to the lead. Follow up personally as soon as possible — the faster you respond, the higher the conversion rate.</p>"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 100
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Gmail connection"
                        }
                    }
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": [
            "Butter Code Speed-To-Lead™ V2 — Scenario 1 of 3.",
            "FREE STACK: Google Forms + Google Sheets + Gmail. Runs on Make.com free tier.",
            "3-TIER SCORING: Hot (score 9) = urgent/today/asap/now/emergency/book. Warm (score 6) = price/quote/interested/looking/services/info/available. Cold (score 3) = all others. Customise keywords per client/industry.",
            "Setup: 1) Create Google Form with fields: Full Name, Email, Phone, Service Needed, Message. 2) Create Leads sheet with 15-column header from leads-sheet-template.csv. 3) Replace REPLACE_WITH_FORM_ID, REPLACE_WITH_SPREADSHEET_ID, [BUSINESS NAME], [OWNER NAME], [OWNER EMAIL ADDRESS], [PHONE NUMBER / WHATSAPP NUMBER]. 4) Connect client's Google account (Forms + Sheets + Gmail). 5) Activate.",
            "This is Scenario 1 of 3. Scenario 2 (Follow-up Engine) runs daily and handles Day 1/3/7/14/30 sequences. Scenario 3 (Lost Lead Recovery) runs quarterly and re-engages closed leads."
        ]
    }
}
