Revenue-Recovery/revenue-recovery-engine.json
{
    "name": "[Client] - Invoice Follow-up Reminder Engine",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:searchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": null
            },
            "mapper": {
                "mode": "select",
                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                "sheetId": "Invoices",
                "tableFirstRow": "A1:K1",
                "limit": 50,
                "filter": [
                    [
                        {
                            "a": "{{1.Status}}",
                            "b": "PAID",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{1.Status}}",
                            "b": "CANCELLED",
                            "o": "text:notequal"
                        },
                        {
                            "a": "{{1.`Due Date`}}",
                            "b": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                            "o": "date:less"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "label": "Invoices"
                        },
                        "sheetId": {
                            "label": "Invoices"
                        }
                    }
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "util:SetMultipleVariables2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "days_overdue",
                        "value": "{{floor((toNumber(formatDate(now; \"X\")) - toNumber(formatDate(parseDate(2.`Due Date`; \"YYYY-MM-DD\"); \"X\"))) / 86400)}}"
                    },
                    {
                        "name": "reminder_count",
                        "value": "{{if(isEmpty(2.`Reminder Count`); 0; toNumber(2.`Reminder Count`))}}"
                    },
                    {
                        "name": "first_name",
                        "value": "{{if(contains(2.`Client Name`; \" \"); trim(substring(2.`Client Name`; 0; indexOf(2.`Client Name`; \" \"))); trim(2.`Client Name`))}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "First Reminder (3+ days overdue)",
                    "flow": [
                        {
                            "id": 5,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "3-6 days overdue, no reminder yet",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.days_overdue}}",
                                            "b": "3",
                                            "o": "number:greaterequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.reminder_count}}",
                                            "b": "0",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "Friendly reminder: Invoice {{2.`Invoice ID`}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>Just a friendly reminder that invoice <strong>{{2.`Invoice ID`}}</strong> for <strong>{{2.Description}}</strong> (R{{2.Amount}}) was due on {{formatDate(parseDate(2.`Due Date`; \"YYYY-MM-DD\"); \"DD MMM YYYY\")}}.</p><p>If you've already paid, please disregard this message \u2014 and thank you! If not, you can settle it whenever convenient. Let us know if you have any questions about the invoice.</p><p>Thanks,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -300
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Invoices",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "OVERDUE",
                                    "Last Reminder Sent": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                    "Reminder Count": "1",
                                    "Notes": "{{2.Notes}} | 1st reminder sent {{formatDate(now; \"YYYY-MM-DD\")}} ({{3.days_overdue}} days overdue)"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Invoices"
                                        },
                                        "sheetId": {
                                            "label": "Invoices"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Second Reminder (7+ days overdue)",
                    "flow": [
                        {
                            "id": 7,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "7-13 days overdue, 1 reminder sent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.days_overdue}}",
                                            "b": "7",
                                            "o": "number:greaterequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.reminder_count}}",
                                            "b": "1",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "Second reminder: Invoice {{2.`Invoice ID`}} now {{3.days_overdue}} days overdue",
                                "html": "<p>Hi {{3.first_name}},</p><p>This is a follow-up on invoice <strong>{{2.`Invoice ID`}}</strong> for <strong>{{2.Description}}</strong> (R{{2.Amount}}), which was due on {{formatDate(parseDate(2.`Due Date`; \"YYYY-MM-DD\"); \"DD MMM YYYY\")}} and is now {{3.days_overdue}} days overdue.</p><p>Could you let us know when we can expect payment, or flag if there's an issue we can help resolve? We're happy to arrange a payment plan if needed.</p><p>Thanks,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Invoices",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "OVERDUE",
                                    "Last Reminder Sent": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                    "Reminder Count": "2",
                                    "Notes": "{{2.Notes}} | 2nd reminder sent {{formatDate(now; \"YYYY-MM-DD\")}} ({{3.days_overdue}} days overdue)"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Invoices"
                                        },
                                        "sheetId": {
                                            "label": "Invoices"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Final Reminder (14+ days overdue)",
                    "flow": [
                        {
                            "id": 9,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "14-29 days overdue, 2 reminders sent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.days_overdue}}",
                                            "b": "14",
                                            "o": "number:greaterequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.reminder_count}}",
                                            "b": "2",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "Final reminder: Invoice {{2.`Invoice ID`}} - {{3.days_overdue}} days overdue",
                                "html": "<p>Hi {{3.first_name}},</p><p>We still haven't received payment for invoice <strong>{{2.`Invoice ID`}}</strong> for <strong>{{2.Description}}</strong> (R{{2.Amount}}), now {{3.days_overdue}} days overdue (originally due {{formatDate(parseDate(2.`Due Date`; \"YYYY-MM-DD\"); \"DD MMM YYYY\")}}).</p><p>Please could you arrange payment as soon as possible, or get in touch so we can sort out a plan together. We'd really appreciate it.</p><p>Thanks,<br>[OWNER NAME]<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 10,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Invoices",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "OVERDUE",
                                    "Last Reminder Sent": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                                    "Reminder Count": "3",
                                    "Notes": "{{2.Notes}} | Final reminder sent {{formatDate(now; \"YYYY-MM-DD\")}} ({{3.days_overdue}} days overdue)"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Invoices"
                                        },
                                        "sheetId": {
                                            "label": "Invoices"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Owner Alert (30+ days overdue)",
                    "flow": [
                        {
                            "id": 11,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "30+ days overdue, 3 reminders sent, not yet flagged",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.days_overdue}}",
                                            "b": "30",
                                            "o": "number:greaterequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.reminder_count}}",
                                            "b": "3",
                                            "o": "number:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "[OWNER EMAIL ADDRESS]"
                                ],
                                "subject": "\u26a0\ufe0f Invoice {{2.`Invoice ID`}} is {{3.days_overdue}} days overdue - needs attention",
                                "html": "<p><strong>Invoice {{2.`Invoice ID`}} is now seriously overdue.</strong></p><ul><li>Client: {{2.`Client Name`}} ({{2.`Client Email`}})</li><li>Description: {{2.Description}}</li><li>Amount: R{{2.Amount}}</li><li>Due date: {{formatDate(parseDate(2.`Due Date`; \"YYYY-MM-DD\"); \"DD MMM YYYY\")}}</li><li>Days overdue: {{3.days_overdue}}</li><li>Automated reminders sent: 3</li></ul><p>This client hasn't responded to 3 automated reminders. Consider a personal call or escalation.</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Invoices",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "ESCALATED",
                                    "Reminder Count": "4",
                                    "Notes": "{{2.Notes}} | Owner alerted {{formatDate(now; \"YYYY-MM-DD\")}} - {{3.days_overdue}} days overdue, needs manual follow-up"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 600
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Invoices"
                                        },
                                        "sheetId": {
                                            "label": "Invoices"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "scheduling": {
            "type": "indefinitely",
            "interval": 1440
        },
        "notes": [
            "FREE STACK: Google Sheets + Gmail only. No trigger module - set scenario schedule after import to run once daily (e.g. 08:00).",
            "Replace REPLACE_WITH_SPREADSHEET_ID with the Invoices sheet ID, and [OWNER NAME], [BUSINESS NAME], [OWNER EMAIL ADDRESS] placeholders.",
            "Workflow: owner manually adds a row to the Invoices sheet when a quote/invoice is sent (Status = SENT, Reminder Count = 0). This scenario takes over from there.",
            "Reminder ladder: Day 3 (1st gentle reminder) -> Day 7 (2nd reminder) -> Day 14 (final reminder) -> Day 30 (owner alert, marks ESCALATED so it stops auto-emailing the client).",
            "2.__IMTROWNUM__ is Make.com's standard field for the row number returned by Google Sheets 'Search Rows'. If your connector version exposes it differently (e.g. '__ROW_NUMBER__' or a 'Row number' label in the dropdown), click into each Update Row module's rowNumber field and re-map it from module 2's available output via the UI.",
            "When the client pays, the owner should manually set Status = PAID in the sheet - this stops all further reminders for that row.",
            "Can be sold standalone (own sheet) or as an add-on module sharing infrastructure with the Instant Lead Response System (same Make account, same Gmail connection, separate sheet/tab)."
        ]
    }
}
