Appointment-Recovery/scenario-1-appointment-logger.json
{
    "name": "[Client] - Butter Code Appointment Recovery™ — Booking Logger",
    "flow": [
        {
            "id": 1,
            "module": "google-calendar:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTCONN__": null,
                "calendar": "primary",
                "watchTrigger": "created"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        },
                        "calendar": {
                            "label": "My Calendar"
                        }
                    }
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "Has guest email (booking)",
                    "flow": [
                        {
                            "id": 4,
                            "module": "util:SetMultipleVariables2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "guest_email",
                                        "value": "{{if(1.attendees[1].organizer = true; 1.attendees[2].email; if(1.attendees[1].organizer = false; 1.attendees[1].email; 1.attendees[1].email))}}"
                                    },
                                    {
                                        "name": "guest_name",
                                        "value": "{{if(1.attendees[1].organizer = true; if(isEmpty(1.attendees[2].displayName); 1.attendees[2].email; 1.attendees[2].displayName); if(isEmpty(1.attendees[1].displayName); 1.attendees[1].email; 1.attendees[1].displayName))}}"
                                    },
                                    {
                                        "name": "first_name",
                                        "value": "{{if(1.attendees[1].organizer = true; if(contains(if(isEmpty(1.attendees[2].displayName); 1.attendees[2].email; 1.attendees[2].displayName); \" \"); trim(substring(if(isEmpty(1.attendees[2].displayName); 1.attendees[2].email; 1.attendees[2].displayName); 0; indexOf(if(isEmpty(1.attendees[2].displayName); 1.attendees[2].email; 1.attendees[2].displayName); \" \"))); trim(if(isEmpty(1.attendees[2].displayName); 1.attendees[2].email; 1.attendees[2].displayName))); if(contains(if(isEmpty(1.attendees[1].displayName); 1.attendees[1].email; 1.attendees[1].displayName); \" \"); trim(substring(if(isEmpty(1.attendees[1].displayName); 1.attendees[1].email; 1.attendees[1].displayName); 0; indexOf(if(isEmpty(1.attendees[1].displayName); 1.attendees[1].email; 1.attendees[1].displayName); \" \"))); trim(if(isEmpty(1.attendees[1].displayName); 1.attendees[1].email; 1.attendees[1].displayName)))))}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 450,
                                    "y": -100
                                }
                            }
                        },
                        {
                            "id": 3,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "filter": {
                                "name": "Guest email was determined",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.guest_email}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Appointments",
                                "values": {
                                    "Event ID": "{{1.id}}",
                                    "Client Name": "{{4.guest_name}}",
                                    "Client Email": "{{4.guest_email}}",
                                    "Appointment Time": "{{formatDate(1.start.dateTime; \"YYYY-MM-DD HH:mm\")}}",
                                    "Service": "{{1.summary}}",
                                    "7d Reminder Sent": "NO",
                                    "48h Reminder Sent": "NO",
                                    "24h Reminder Sent": "NO",
                                    "2h Reminder Sent": "NO",
                                    "Confirmation Sent": "YES",
                                    "Status": "SCHEDULED",
                                    "Rebooking Sent": "NO",
                                    "Win-Back Sent": "NO",
                                    "Notes": ""
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -100
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Appointments"
                                        },
                                        "sheetId": {
                                            "label": "Appointments"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 5,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "mapper": {
                                "to": [
                                    "{{4.guest_email}}"
                                ],
                                "subject": "Booking confirmed: {{1.summary}} on {{formatDate(1.start.dateTime; \"DD MMM YYYY [at] HH:mm\")}} ✅",
                                "html": "<p>Hi {{4.first_name}},</p><p>Your booking is confirmed! Here are your details:</p><ul><li><strong>Service:</strong> {{1.summary}}</li><li><strong>Date & Time:</strong> {{formatDate(1.start.dateTime; \"dddd, DD MMM YYYY [at] HH:mm\")}}</li><li><strong>Location / Link:</strong> [ADDRESS OR MEETING LINK]</li></ul><p>You'll receive a reminder 7 days before, 48 hours before, 24 hours before, and 2 hours before your appointment.</p><p>If you need to reschedule or cancel, please contact us as soon as possible so we can offer the slot to someone else:</p><p>[PHONE NUMBER / WHATSAPP NUMBER]<br>[BUSINESS NAME]</p><p>Looking forward to seeing you!</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -100
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": [
            "Butter Code Appointment Recovery™ V2 — Scenario 1 of 4.",
            "FREE STACK: Google Calendar + Google Sheets + Gmail.",
            "This scenario watches the owner's primary Google Calendar for newly created events, logs any event with a guest/attendee email to the Appointments sheet, and immediately sends a booking confirmation email.",
            "V2 SHEET: 14 columns — includes 7d Reminder Sent, 48h Reminder Sent, Confirmation Sent, Rebooking Sent, Win-Back Sent. Replace REPLACE_WITH_SPREADSHEET_ID.",
            "Replace [ADDRESS OR MEETING LINK], [PHONE NUMBER / WHATSAPP NUMBER], [BUSINESS NAME] in the confirmation email.",
            "Works best with Google Calendar Appointment Schedules (free) which auto-adds the booker as a guest. If the client uses a different booking method, adapt the trigger accordingly.",
            "1.attendees[1] indexing is 1-based in Make.com. Module 4 determines the guest dynamically: if attendees[1] is the organizer it uses attendees[2], otherwise attendees[1]. This is Scenario 1 of 4."
        ]
    }
}
