Appointment-Recovery/scenario-2-reminder-sender.json
{
    "name": "[Client] - Butter Code Appointment Recovery™ — Reminder Sender",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:searchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": null
            },
            "mapper": {
                "mode": "select",
                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                "sheetId": "Appointments",
                "tableFirstRow": "A1:N1",
                "limit": 50,
                "filter": [
                    [
                        {
                            "a": "{{1.Status}}",
                            "b": "SCHEDULED",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "label": "Appointments"
                        },
                        "sheetId": {
                            "label": "Appointments"
                        }
                    }
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "util:SetMultipleVariables2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "hours_until",
                        "value": "{{round((toNumber(formatDate(parseDate(2.`Appointment Time`; \"YYYY-MM-DD HH:mm\"); \"X\")) - toNumber(formatDate(now; \"X\"))) / 3600; 1)}}"
                    },
                    {
                        "name": "first_name",
                        "value": "{{if(contains(2.`Client Name`; \" \"); trim(substring(2.`Client Name`; 0; indexOf(2.`Client Name`; \" \"))); trim(2.`Client Name`))}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "7-Day Reminder",
                    "flow": [
                        {
                            "id": 10,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "162-174h away, 7d reminder not yet sent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "162",
                                            "o": "number:greaterequal"
                                        },
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "174",
                                            "o": "number:lessequal"
                                        },
                                        {
                                            "a": "{{2.`7d Reminder Sent`}}",
                                            "b": "NO",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "Your appointment next week — {{2.Service}} on {{formatDate(parseDate(2.`Appointment Time`; \"YYYY-MM-DD HH:mm\"); \"DD MMM\")}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>Just a heads-up — your appointment for <strong>{{2.Service}}</strong> is coming up next week on <strong>{{formatDate(parseDate(2.`Appointment Time`; \"YYYY-MM-DD HH:mm\"); \"dddd, DD MMM YYYY [at] HH:mm\")}}</strong>.</p><p>If you need to reschedule, please let us know as soon as possible:</p><p>[PHONE NUMBER / WHATSAPP NUMBER]</p><p>Looking forward to seeing you!<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -600
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 11,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Appointments",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "7d Reminder Sent": "YES",
                                    "Notes": "{{2.Notes}} | 7-day reminder sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -600
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Appointments"
                                        },
                                        "sheetId": {
                                            "label": "Appointments"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "48h Reminder",
                    "flow": [
                        {
                            "id": 12,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "44-52h away, 48h reminder not yet sent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "44",
                                            "o": "number:greaterequal"
                                        },
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "52",
                                            "o": "number:lessequal"
                                        },
                                        {
                                            "a": "{{2.`48h Reminder Sent`}}",
                                            "b": "NO",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "2 days until your appointment — {{2.Service}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>Your appointment for <strong>{{2.Service}}</strong> is in 2 days on <strong>{{formatDate(parseDate(2.`Appointment Time`; \"YYYY-MM-DD HH:mm\"); \"dddd, DD MMM YYYY [at] HH:mm\")}}</strong>.</p><p>Need to reschedule? Contact us ASAP:</p><p>[PHONE NUMBER / WHATSAPP NUMBER]</p><p>See you soon!<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -350
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 13,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Appointments",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "48h Reminder Sent": "YES",
                                    "Notes": "{{2.Notes}} | 48h reminder sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -350
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Appointments"
                                        },
                                        "sheetId": {
                                            "label": "Appointments"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "24h Reminder",
                    "flow": [
                        {
                            "id": 5,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "20-28h away, 24h reminder not yet sent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "20",
                                            "o": "number:greaterequal"
                                        },
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "28",
                                            "o": "number:lessequal"
                                        },
                                        {
                                            "a": "{{2.`24h Reminder Sent`}}",
                                            "b": "NO",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "Reminder: your appointment tomorrow — {{2.Service}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>This is a friendly reminder that you have an appointment booked for <strong>{{2.Service}}</strong> on <strong>{{formatDate(parseDate(2.`Appointment Time`; \"YYYY-MM-DD HH:mm\"); \"dddd, DD MMM YYYY [at] HH:mm\")}}</strong>.</p><p>If you need to reschedule or cancel, please reply to this email or contact us as soon as possible so we can offer the slot to someone else.</p><p>Looking forward to seeing you!<br>[BUSINESS NAME]<br>[PHONE NUMBER / WHATSAPP NUMBER]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -100
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Appointments",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "24h Reminder Sent": "YES",
                                    "Notes": "{{2.Notes}} | 24h reminder sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": -100
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Appointments"
                                        },
                                        "sheetId": {
                                            "label": "Appointments"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "2h Final Reminder",
                    "flow": [
                        {
                            "id": 7,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "1.5-2.5h away, 2h reminder not yet sent",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "1.5",
                                            "o": "number:greaterequal"
                                        },
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "2.5",
                                            "o": "number:lessequal"
                                        },
                                        {
                                            "a": "{{2.`2h Reminder Sent`}}",
                                            "b": "NO",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "See you soon! Appointment in 2 hours — {{2.Service}}",
                                "html": "<p>Hi {{3.first_name}},</p><p>Just a quick reminder — your appointment for <strong>{{2.Service}}</strong> is coming up at <strong>{{formatDate(parseDate(2.`Appointment Time`; \"YYYY-MM-DD HH:mm\"); \"HH:mm\")}}</strong> today.</p><p>If anything's changed, please let us know as soon as possible.</p><p>See you soon!<br>[BUSINESS NAME]<br>[PHONE NUMBER / WHATSAPP NUMBER]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Appointments",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "2h Reminder Sent": "YES",
                                    "Notes": "{{2.Notes}} | 2h reminder sent {{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Appointments"
                                        },
                                        "sheetId": {
                                            "label": "Appointments"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "name": "Mark Past Appointments Done",
                    "flow": [
                        {
                            "id": 9,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "filter": {
                                "name": "Appointment time has passed",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.hours_until}}",
                                            "b": "0",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Appointments",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Status": "COMPLETED"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 400
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Appointments"
                                        },
                                        "sheetId": {
                                            "label": "Appointments"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "scheduling": {
            "type": "indefinitely",
            "interval": 30
        },
        "notes": [
            "Butter Code Appointment Recovery™ V2 — Scenario 2 of 4.",
            "FREE STACK: Google Sheets + Gmail. Set schedule to run every 30 minutes after import.",
            "4-STAGE REMINDER SEQUENCE: 7-day (162-174h window), 48h (44-52h), 24h (20-28h), 2h (1.5-2.5h). Each reminder only fires once per appointment due to flag columns.",
            "OPS NOTE: Running every 30 min against 50 rows uses ~150 ops/day. For clients with consistent high booking volume, switch to hourly (60 min) — still catches all 4 reminder windows reliably.",
            "tableFirstRow is A1:N1 (14 columns matching V2 Appointments sheet).",
            "Replace REPLACE_WITH_SPREADSHEET_ID, [BUSINESS NAME], [PHONE NUMBER / WHATSAPP NUMBER].",
            "When Status is marked COMPLETED, Scenario 3 (Rebooking Engine) picks up the row 6 weeks later. Scenario 4 (Win-Back) picks up rows 60+ days after last appointment.",
            "2.__IMTROWNUM__ is Make.com's standard row reference. Re-map if needed from module 2's output."
        ]
    }
}
