Appointment-Recovery/scenario-3-rebooking-engine.json
{
    "name": "[Client] - Butter Code Appointment Recovery™ — Rebooking Engine",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:searchRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": null
            },
            "mapper": {
                "mode": "select",
                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                "sheetId": "Appointments",
                "tableFirstRow": "A1:N1",
                "limit": 50,
                "filter": [
                    [
                        {
                            "a": "{{1.Status}}",
                            "b": "COMPLETED",
                            "o": "text:equal"
                        },
                        {
                            "a": "{{1.`Rebooking Sent`}}",
                            "b": "NO",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection"
                        },
                        "spreadsheetId": {
                            "label": "Appointments"
                        },
                        "sheetId": {
                            "label": "Appointments"
                        }
                    }
                }
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "util:SetMultipleVariables2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "days_since_appointment",
                        "value": "{{floor((toNumber(formatDate(now; \"X\")) - toNumber(formatDate(parseDate(2.`Appointment Time`; \"YYYY-MM-DD HH:mm\"); \"X\"))) / 86400)}}"
                    },
                    {
                        "name": "first_name",
                        "value": "{{if(contains(2.`Client Name`; \" \"); trim(substring(2.`Client Name`; 0; indexOf(2.`Client Name`; \" \"))); trim(2.`Client Name`))}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "6-Week Rebooking Nudge",
                    "flow": [
                        {
                            "id": 5,
                            "module": "gmail:sendEmail",
                            "version": 3,
                            "parameters": {
                                "account": null
                            },
                            "filter": {
                                "name": "40-48 days since appointment (approx 6 weeks)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.days_since_appointment}}",
                                            "b": "40",
                                            "o": "number:greaterequal"
                                        },
                                        {
                                            "a": "{{3.days_since_appointment}}",
                                            "b": "48",
                                            "o": "number:lessequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.`Client Email`}}"
                                ],
                                "subject": "Time to book your next {{2.Service}}, {{3.first_name}}?",
                                "html": "<p>Hi {{3.first_name}},</p><p>It's been about 6 weeks since your last <strong>{{2.Service}}</strong> session — time for your next one?</p><p>Booking is quick and easy. Just reply to this email or contact us directly:</p><p>[PHONE NUMBER / WHATSAPP NUMBER]<br>[BOOKING LINK — optional]</p><p>We'd love to see you again soon!<br>[BUSINESS NAME]</p>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "My Gmail connection"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": null
                            },
                            "mapper": {
                                "mode": "select",
                                "spreadsheetId": "REPLACE_WITH_SPREADSHEET_ID",
                                "sheetId": "Appointments",
                                "rowNumber": "{{2.__IMTROWNUM__}}",
                                "values": {
                                    "Rebooking Sent": "YES",
                                    "Notes": "{{2.Notes}} | 6-week rebooking nudge sent {{formatDate(now; \"YYYY-MM-DD\")}} ({{3.days_since_appointment}} days since appointment)"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection"
                                        },
                                        "spreadsheetId": {
                                            "label": "Appointments"
                                        },
                                        "sheetId": {
                                            "label": "Appointments"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "scheduling": {
            "type": "indefinitely",
            "interval": 1440
        },
        "notes": [
            "Butter Code Appointment Recovery™ V2 — Scenario 3 of 4.",
            "FREE STACK: Google Sheets + Gmail. Set schedule to run once daily after import.",
            "PURPOSE: 6 weeks after a COMPLETED appointment, automatically prompts the client to rebook. Turns one-time clients into repeat clients.",
            "Filter: Status=COMPLETED AND Rebooking Sent=NO AND 40-48 days since appointment. The 8-day window ensures the nudge fires regardless of exact daily run time.",
            "Once the rebooking nudge is sent, Rebooking Sent is set to YES — preventing repeat sends. If the client books again, a new row is created for the new appointment.",
            "Replace REPLACE_WITH_SPREADSHEET_ID, [PHONE NUMBER / WHATSAPP NUMBER], [BOOKING LINK], [BUSINESS NAME].",
            "tableFirstRow is A1:N1 (14 columns matching V2 Appointments sheet).",
            "This is Scenario 3 of 4. Scenario 4 (Win-Back Engine) handles clients who haven't returned after 60+ days."
        ]
    }
}
